<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-usuario-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h2>Alta usuario</h2>
    <input type="first_name" placeholder="first_name" value="{{first_name::input}}"/>
    <input type="last_name" placeholder="last_name" value="{{last_name::input}}"/>
    <input type="email" placeholder="Email" value="{{email::input}}"/>
    <input type="password" placeholder="Password" value="{{password::input}}"/>
    <input type="amount" placeholder="amount" value="{{amount::input}}"/>
    <button class="btn btn-success" on-click="alta">Alta</button>
    <br></br>
    <span hidden$="{{!logged}}">Bienvenid@ a tu banco [[firstName]] [[lastName]]</span>
    <span hidden$="{{!loggederr}}">Error en alta usuario</span>
    <iron-ajax
      id="doalta"
      method="POST"
      url="http://localhost:3000/samplebank/v1/newuser"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     console.log('Enrto en el js');

    class altaUsuarioApp extends Polymer.Element {
      static get is() { return 'alta-usuario-app'; }
      static get properties() {
        return {
          email: {
            type: String},
          password: {
            type: String},
          logged: {
            type: Boolean,
            value: false},
          loggederr: {
            type: Boolean,
            value: false},
          lastName: {
            type: String},
          firstName:{
            type: String}
          }
          }


        alta(){
        console.log("Botón alta pulsado")
        var altaData = {
            "first_name": this.first_name,
            "last_name": this.last_name,
            "email": this.email,
            "password": this.password,
            "amount": this.amount
        };

          this.$.doalta.body = JSON.stringify(altaData);
          this.$.doalta.generateRequest();
          console.log("Petición enviada");
        }
        manageAJAXResponse(data){
          console.log("Respuesta recibida");
          console.log(data.detail.response);
          this.logged = true;
          this.loggederr = false;
          }
        showError(error){
          console.log("Hubo un error ");
          console.log(error);
          this.logged = false;
          this.loggederr = true;
        }
    }

    window.customElements.define(altaUsuarioApp.is, altaUsuarioApp);
  </script>
</dom-module>
