<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h2>Logout</h2>
    <input type="user_id" placeholder="User_id" value="{{user_id::input}}"/>
    <button class="btn btn-warning" on-click="logout">logout</button>
    <br></br>
    <span hidden$="{{!correcto}}">¡¡¡Hasta pronto!!!</span>
    <span hidden$="{{!incorrecto}}">Error haciendo logout</span>
    <iron-ajax
      id="dologout"
      method="POST"
      url="http://localhost:3000/samplebank/v1/logout/"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     console.log('Entro en el js');

    class logoutApp extends Polymer.Element {
      static get is() { return 'logout-app'; }
      static get properties() {
        return {
          user_id: {
            type: Number},
          correcto: {
            type: Boolean,
            value: false},
          incorrecto: {
            type: Boolean,
            value: false},
          }
          }


        logout(){
        console.log("Botón logout pulsado")
        var logoutData = {
            "user_id": this.user_id
        };

          this.$.dologout.body = JSON.stringify(logoutData);
          this.$.dologout.generateRequest();
          console.log("Petición enviada");
        }
        manageAJAXResponse(data){
          console.log("Respuesta recibida");
          this.correcto = true;
          this.incorrecto = false;
          }
        showError(error){
          console.log("Hubo un error ");
          console.log(error);
          this.correcto = false;
          this.incorrecto = true;
        }
    }

    window.customElements.define(logoutApp.is, logoutApp);
  </script>
</dom-module>
