<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-movimiento-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <h2>Alta movimiento</h2>
    <input type="account_id" placeholder="account_id" value="{{account_id::input}}"/>
    <input type="movement_type" placeholder="movement_type" value="{{movement_type::input}}"/>
    <input type="amount" placeholder="amount" value="{{amount::input}}"/>
    <input type="id_destination_account" placeholder="id_destination_account" value="{{id_destination_account::input}}"/>
    <button on-click="altaMov">alta Movimiento</button>
    <br></br>
    <span hidden$="{{!alta}}">Alta de movimiento correcta</span>
    <span hidden$="{{!altaerr}}">Error en alta de movimiento</span>
    <iron-ajax
      id="doaltaMov"
      method="POST"
      url="http://localhost:3000/samplebank/v2/account/movements"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     console.log('Enrto en alta movimiento');

    class altaMovimientoApp extends Polymer.Element {
      static get is() { return 'alta-movimiento-app'; }
      static get properties() {
        return {
          account_id: {
            type: Number},
          alta: {
            type: Boolean,
            value: false},
          altaerr: {
            type: Boolean,
            value: false},
          }
          }


        altaMov(){
        console.log("Botón altaMov pulsado")
        var altaMovData = {
            "account_id": this.account_id,
            "value_date": new Date(),
            "movement_type": this.movement_type,
            "amount": this.amount,
            "id_destination_account": this.id_destination_account
        };

          console.log("altaMovData.account_id " + altaMovData.account_id);
          console.log("altaMovData.value_date " + altaMovData.value_date);
          console.log("altaMovData.movement_type " + altaMovData.movement_type);
          console.log("altaMovData.amount " + altaMovData.amount);
          console.log("altaMovData.id_destination_account " + altaMovData.id_destination_account);
          this.$.doaltaMov.body = JSON.stringify(altaMovData);
      //    this.$.doaltaMov.body = altaMovData;
          console.log("this.$.doaltaMov.body" + this.$.doaltaMov.body);
          this.$.doaltaMov.generateRequest();
          console.log("Petición enviada");
        }
        manageAJAXResponse(data){
          console.log("Respuesta recibida");
          console.log(data.detail.response);
          this.alta = true;
          this.altaerr = false;
          }
        showError(error){
          console.log("Hubo un error ");
          console.log(error);
          this.alta = false;
          this.altaerr = true;
        }
    }

    window.customElements.define(altaMovimientoApp.is, altaMovimientoApp);
  </script>
</dom-module>
