<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="movimiento-cuenta-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h2>movimientos cuenta</h2>
    <input type="account_id" placeholder="account_id" value="{{account_id::input}}"/>
    <button class="btn btn-success" on-click="consultar">Consultar</button>
    <br></br>
    <span hidden$="{{!incorrecto}}">Error al buscar movimientos del cuenta</span>
    <template is="dom-repeat" items="{{movements}}">
        <div># <span>{{index}}</span></div>
        <div>value_date: <span>{{item.value_date}}</span></div>
        <div>movement_type: <span>{{item.movement_type}}</span></div>
        <div>amount: <span>{{item.amount}}</span></div>
        <div>previous_balance: <span>{{item.previous_balance}}</span></div>
        <div>balance: <span>{{item.balance}}</span></div>
        <div>id_destination_account: <span>{{item.id_destination_account}}</span></div>

    </template>

    <iron-ajax
      id="domovimientos"
      method="GET"
      url="http://localhost:3000/samplebank/v1/account/movements/{{account_id}}"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     console.log('Entro en movimientos cuenta');

    class movimientosApp extends Polymer.Element {
      static get is() { return 'movimiento-cuenta-app'; }
      static get properties() {
        return {
          account_id: {
            type: Number},
          incorrecto: {
            type: Boolean,
            value: false},
          movements: {
            type: Array}
          }
          }


        consultar(){
          console.log("Botón movimientos pulsado");
          this.$.domovimientos.generateRequest();
          console.log("Petición enviada");
        }
        manageAJAXResponse(data){
          console.log("Respuesta recibida");
          console.log(data.detail.response);
          this.incorrecto = false;
          this.movements = data.detail.response;
        }
        showError(error){
          console.log("Hubo un error ");
          console.log(error);
          this.incorrecto = true;
        }
    }

    window.customElements.define(movimientosApp.is, movimientosApp);
  </script>
</dom-module>
