<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h2>Datos de usuario</h2>
    <input type="email" placeholder="Email" value="{{email::input}}"/>
    <input type="password" placeholder="Password" value="{{password::input}}"/>
    <button class="btn btn-success" on-click="login">Login</button>
    <br></br>
    <span hidden$="{{!logged}}">Bienvenid@ a tu banco [[firstName]] [[lastName]]</span>
    <span hidden$="{{!loggederr}}">Usuario y/o contraseña incorrecta</span>
    <iron-ajax
      id="doLogin"
      method="POST"
      url="http://localhost:3000/samplebank/v1/login/"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     console.log('Enrto en el js');

    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String},
          password: {
            type: String},
          logged: {
            type: Boolean,
            value: false},
          loggederr: {
            type: Boolean,
            value: false},
          lastName: {
            type: String},
          firstName:{
            type: String}
          }
          }


        login(){
        console.log("Botón login pulsado")
        var loginData = {
            "email": this.email,
            "password": this.password
        };

          this.$.doLogin.body = JSON.stringify(loginData);
          this.$.doLogin.generateRequest();
          console.log("Petición enviada");
        }
        manageAJAXResponse(data){
          console.log("Respuesta recibida");
          console.log(data.detail.response);
          this.logged = true;
          this.loggederr = false;
          this.lastName = data.detail.response.last_name;
          this.firstName = data.detail.response.first_name;
        }
        showError(error){
          console.log("Hubo un error ");
          console.log(error);
          this.logged = false;
          this.loggederr = true;
        }
    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
