<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="samplebank-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class SamplebankApp extends Polymer.Element {
      static get is() { return 'samplebank-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'samplebank-app'
          }
        };
      }
    }

    window.customElements.define(SamplebankApp.is, SamplebankApp);
  </script>
</dom-module>
