<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-cuenta-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h2>Alta cuenta</h2>
    <input type="user_id" placeholder="user_id" value="{{user_id_initAmount::input}}"/>
    <button class="btn btn-success" on-click="doaltaCuenta">Alta cuenta</button>
    <br></br>
    <span hidden$="{{!correcto}}">Alta cuenta {{accounts.iban}} correcta</span>
    <span hidden$="{{!incorrecto}}">Error al buscar cuentas del usuario</span>
    <iron-ajax
      id="hacerAltaCuenta"
      method="POST"
      url="http://localhost:3000/samplebank/v1/account/{{user_id_initAmount}}"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     console.log('Entro en alta cuentas usuario');

    class altaCuenta extends Polymer.Element {
      static get is() { return 'alta-cuenta-app'; }
      static get properties() {
        return {
          incorrecto: {
            type: Boolean,
            value: false},
          correcto: {
            type: Boolean,
            value: false},
          iban: {
            type: String}
          }
          }


        doaltaCuenta(){
          console.log("Botón cuentas pulsado")
          var cuentasData={};
          this.$.hacerAltaCuenta.body = JSON.stringify(cuentasData);
          this.$.hacerAltaCuenta.generateRequest();
          console.log("Petición enviada");
        }
        manageAJAXResponse(data){
          console.log("Respuesta recibida");
          console.log(data.detail.response);
          this.incorrecto = false;
          this.iban = data.detail.response;
        }
        showError(error){
          console.log("Hubo un error ");
          console.log(error);
          this.incorrecto = true;
        }
    }

    window.customElements.define(altaCuenta.is, altaCuenta);
  </script>
</dom-module>
