<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="alta-transferencia-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <h2>Alta Transferencia</h2>
    <input type="account_id" placeholder="account_id" value="{{account_id::input}}"/>
    <input type="amount" placeholder="amount" value="{{amount::input}}"/>
    <input type="id_destination_account" placeholder="id_destination_account" value="{{id_destination_account::input}}"/>
    <button on-click="altaTrx">alta Transferncia</button>
    <br></br>
    <span hidden$="{{!alta}}">Alta de transferencia correcta</span>
    <span hidden$="{{!altaerr}}">Error en alta de transferencia</span>
    <iron-ajax
      id="doaltaTrx"
      method="POST"
      url="http://localhost:3000/samplebank/v2/account/movements"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>
    <iron-ajax
      id="dorecTrx"
      method="POST"
      url="http://localhost:3000/samplebank/v2/account/movements"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse2"
      on-error="showError">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     console.log('Enrto en alta transferencia');


    class altaTrximientoApp extends Polymer.Element {
      static get is() { return 'alta-transferencia-app'; }
      static get properties() {
        return {
          account_id: {
            type: Number},
          alta: {
            type: Boolean,
            value: false},
          altaerr: {
            type: Boolean,
            value: false},
          }
          }


        altaTrx(){
        console.log("Botón altaTrx pulsado")
        var altaTrxData = {
            "account_id": this.account_id,
            "value_date": new Date(),
            "movement_type": "5",
            "amount": this.amount,
            "id_destination_account": this.id_destination_account
        };

          console.log("altaTrxData.account_id " + altaTrxData.account_id);
          console.log("altaTrxData.value_date " + altaTrxData.value_date);
          console.log("altaTrxData.movement_type " + altaTrxData.movement_type);
          console.log("altaTrxData.amount " + altaTrxData.amount);
          console.log("altaTrxData.id_destination_account " + altaTrxData.id_destination_account);
          this.$.doaltaTrx.body = JSON.stringify(altaTrxData);
          console.log("this.$.doaltaTrx.body" + this.$.doaltaTrx.body);
          this.$.doaltaTrx.generateRequest();
          console.log("Petición enviada");
        }

        manageAJAXResponse(data){
          console.log("Respuesta recibida");
          console.log(data.detail.response);
          var iban_aux = this.id_destination_account.substring(20);
          console.log("iban_aux " + iban_aux);
          var id_destination_aux = Number(iban_aux);
          console.log("id_destination_aux" + id_destination_aux);
          var recTrxData = {
              "account_id": id_destination_aux,
              "value_date": new Date(),
              "movement_type": "6",
              "amount": this.amount,
              "id_destination_account": ""
          };

            console.log("recTrxData.account_id " + recTrxData.account_id);
            console.log("recTrxData.value_date " + recTrxData.value_date);
            console.log("recTrxData.movement_type " + recTrxData.movement_type);
            console.log("recTrxData.amount " + recTrxData.amount);
            console.log("recTrxData.id_destination_account " + recTrxData.id_destination_account);
            this.$.dorecTrx.body = JSON.stringify(recTrxData);
            console.log("this.$.dorecTrx.body" + this.$.dorecTrx.body);
            this.$.dorecTrx.generateRequest();
            console.log("Petición enviada");
          }
        manageAJAXResponse2(data){
          this.alta = true;
          this.ataerr = false;
        }
        showError(error){
          console.log("Hubo un error ");
          console.log(error);
          this.alta = false;
          this.altaerr = true;
        }
    }

    window.customElements.define(altaTrximientoApp.is, altaTrximientoApp);
  </script>
</dom-module>
