<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="cuenta-usuario-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h2>Cuentas usuario</h2>
    <input type="user_id" placeholder="user_id" value="{{user_id::input}}"/>
    <button class="btn btn-success" on-click="consultar">Consultar</button>
    <br></br>
    <span hidden$="{{!incorrecto}}">Error al buscar cuentas del usuario</span>
    <template is="dom-repeat" items="{{accounts}}">
        <div># <span>{{index}}</span></div>
        <div>iban: <span>{{item.iban}}</span></div>
        <div>balance: <span>{{item.balance}}</span></div>
    </template>

    <iron-ajax
      id="docuentas"
      method="GET"
      url="http://localhost:3000/samplebank/v1/account/{{user_id}}"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
     console.log('Entro en cuentas usuario');

    class cuentasApp extends Polymer.Element {
      static get is() { return 'cuenta-usuario-app'; }
      static get properties() {
        return {
          user_id: {
            type: Number},
          incorrecto: {
            type: Boolean,
            value: false},
          accounts: {
            type: Array}
          }
          }


        consultar(){
          console.log("Botón cuentas pulsado")
      //    this.$.docuentas.body = JSON.stringify(cuentasData);
          this.$.docuentas.generateRequest();
          console.log("Petición enviada");
        }
        manageAJAXResponse(data){
          console.log("Respuesta recibida");
          console.log(data.detail.response);
          this.incorrecto = false;
          this.accounts = data.detail.response;
        }
        showError(error){
          console.log("Hubo un error ");
          console.log(error);
          this.incorrecto = true;
        }
    }

    window.customElements.define(cuentasApp.is, cuentasApp);
  </script>
</dom-module>
